.loader {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 150px;
	}
}

.bg {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
.wrap {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 30px;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 70%;
	height: 390px;
	padding: 40px;
	gap: 50px;
	align-items: center;
	.cont {
		color: #fff;
		.genres {
			margin-top: 25px;
			margin-bottom: 20px;
			span {
				background-color: #daa02a;
				margin-right: 15px;
				padding: 5px 10px 8px;
				border-radius: 20px;
			}
		}
	}
}

@media (max-width: 1200px) {
	.wrap {
		max-width: 90%;
		height: 50%;
		gap: 30px;
		padding: 25px;
	}
	.loader {
		img {
			width: 100px;
		}
	}
}
@media (max-width: 900px) {
	.bg {
		height: 105vh;
	}
	.wrap {
		max-width: 100%;
		width: auto;
		height: 100vh;
		gap: 30px;
		padding: 25px;
		transform: none;
		top: 0;
		left: 0;
		border-radius: initial;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
@media (max-width: 600px) {
	.wrap {
		gap: 10px;
		justify-content: flex-start;
		padding: 0;
		padding: 45px 25px 0 25px;
		.cont {
			.txt {
				font-size: 14px;
				line-height: 0.6;
			}
			h2 {
				font-size: 20px;
				line-height: 1.2;
			}
			.genres {
				margin-top: 18px;
				span {
					font-size: 13px;
					padding: 2px 10px 3px;
					margin-right: 8px;
				}
			}
			.description {
				font-size: 13px;
			}
		}
	}

	.loader {
		img {
			width: 80px;
		}
	}
}
